<tr id="comment-<%= comment.id %>">
  <td><%= comment.id %></td>
  <td><%= comment.content %></td>
  <td><%= link_to comment.file.filename,comment.file  if comment.file.attached? %></td>

  <td>
    <%= link_to :delete,
        comment_destroy_path(comment),
        method: :delete,
        class: 'btn-danger btn-sm',
        data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
