<%= form_for comment_form_url do |f| %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
    </div>
    <div class="box-body">

      <div class="form-group <% if @comment.errors[:content].any? %>has-error<% end %>">
        <%= f.label :content, class: 'control-label' %>
        <%= f.text_area :content,
            class: 'form-control',
            required: true,
            autofocus: true %>
        <%= tag.span @comment.errors[:content].join("<br/>").html_safe,
            class: 'help-block' if @comment.errors[:content].any? %>
      </div>

      <div class="form-group <% if @comment.errors[:file].any? %>has-error<% end %>">
        <%= f.label :file, class: 'control-label' %>
        <%= f.file_field :file,
            class: 'form-control'%>
        <%= tag.span @comment.errors[:file].join("<br/>").html_safe,
            class: 'help-block' if @comment.errors[:file].any? %>
      </div>
    </div>
    <div class="box-footer">
      <%= f.submit class: 'btn btn-primary btn-ok btn-lg pull-right' %>
    </div>
  </div>
<% end %>
