<h1 class="page-header">
  <%= @commetable.class.name %> <%= @commetable %> - Comments list
  <%= link_to 'Back',
      back_path_helper,
      class: 'btn btn-default pull-right',
      style: 'margin-left:10px' %>
  <%= link_to 'New comment',
      new_comment_path_helper,
      class: 'btn btn-primary pull-right' %>
</h1>

<div class="box box-primary">
  <div class="box-body">
    <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Content</th>
          <th>File</th>
          <th>Actions</th>
        </tr>

        <%= render @comments %>

    </table>
  </div>
</div>
