<%= form_for [ @project, @task] do |f| %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
    </div>
    <div class="box-body">

      <div class="form-group <% if @task.errors[:title].any? %>has-error<% end %>">
        <%= f.label :title, class: 'control-label' %>
        <%= f.text_field :title,
            class: 'form-control',
            required: true,
            autofocus: true %>
        <%= tag.span @task.errors[:title].join("<br/>").html_safe,
            class: 'help-block' if @task.errors[:title].any? %>
      </div>

      <div class="form-group <% if @task.errors[:description].any? %>has-error<% end %>">
        <%= f.label :description, class: 'control-label' %>
        <%= f.text_area :description,
            class: 'form-control' %>
        <%= tag.span @task.errors[:description].join("<br/>").html_safe,
            class: 'help-block' if @task.errors[:description].any? %>
      </div>

      <div class="form-group <% if @task.errors[:user_id].any? %>has-error<% end %>">
        <%= f.label :user_id, class: 'control-label' %>
        <%= f.select :user_id,
            User.pluck(:email,:id),
            {},
            { class: 'form-control' } %>
        <%= tag.span @task.errors[:user_id].join("<br/>").html_safe,
            class: 'help-block' if @task.errors[:user_id].any? %>
      </div>

      <div class="form-group <% if @task.errors[:priority].any? %>has-error<% end %>">
        <%= f.label :priority, class: 'control-label' %>
        <%= f.select :priority,
            Task.priorities.keys,
            { prompt: 'Select Priority'},
            { class: 'form-control', required: true } %>
        <%= tag.span @task.errors[:priority].join("<br/>").html_safe,
            class: 'help-block' if @task.errors[:priority].any? %>
      </div>

      <div class="form-group <% if @task.errors[:deadline].any? %>has-error<% end %>">
        <%= f.label :deadline, class: 'control-label' %>
        <%= f.date_field :deadline,
            class: 'form-control',
            required: true %>
        <%= tag.span @task.errors[:deadline].join("<br/>").html_safe,
          class: 'help-block' if @task.errors[:deadline].any? %>
      </div>

    </div>
    <div class="box-footer">
      <%= f.submit class: 'btn btn-primary btn-ok btn-lg pull-right' %>
    </div>
  </div>
<% end %>
