<tr id="task-<%= task.id %>">
  <td><%= task.id %></td>
  <td><%= task.title %></td>
  <td><%= task.user %></td>
  <td><%= task.priority %></td>
  <td><%= task.deadline.to_date %></td>
  <td><%= task.status %></td>

  <td>
    <%= link_to :done,
        done_project_task_path(@project, task),
        class: 'btn-success btn-sm',
        remote: true unless task.done? %>

    <%= link_to :comments,
        project_task_comments_path(@project, task),
        class: 'btn-primary btn-sm' %>
    
    <%= link_to :edit,
        edit_project_task_path(@project, task),
        class: 'btn-warning btn-sm' %>

    <%= link_to :delete,
        project_task_path(@project, task),
        method: :delete,
        class: 'btn-danger btn-sm',
        data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
