<h1 class="page-header">
  <%= @project.name %> - Tasks list
  <%= link_to 'Back',
      projects_path,
      class: 'btn btn-default pull-right',
      style: 'margin-left:10px' %>
  <%= link_to 'New task',
      new_project_task_path,
      class: 'btn btn-primary pull-right' %>
</h1>

<div class="box box-primary">
  <div class="box-body">
    <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Assignee</th>
          <th>Priority</th>
          <th>Deadline</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>

        <%= render @tasks %>

    </table>
  </div>
</div>
