<%= form_for @project, html: {remote: true} do |f| %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
    </div>
    <div class="box-body">

        <div class="form-group <% if @project.errors[:name].any? %>has-error<% end %>">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name,
              class: 'form-control',
              required: true,
              autofocus: true %>
          <%= tag.span @project.errors[:name].join("<br/>").html_safe,
              class: 'help-block' if @project.errors[:name].any? %>
        </div>

        <div class="form-group <% if @project.errors[:kind].any? %>has-error<% end %>">
          <%= f.label :kind, class: 'control-label' %>
          <%= f.select :kind,
              Project.kinds.keys,
              { prompt: 'Select Kind' },
              { class: 'form-control', required: true } %>
          <%= tag.span @project.errors[:kind].join("<br/>").html_safe,
              class: 'help-block' if @project.errors[:kind].any? %>
        </div>

        <div class="form-group <% if @project.errors[:start_date].any? %>has-error<% end %>">
          <%= f.label :start_date, class: 'control-label' %>
          <%= f.date_field :start_date,
              class: 'form-control',
              required: true %>
          <%= tag.span @project.errors[:start_date].join("<br/>").html_safe,
              class: 'help-block' if @project.errors[:start_date].any? %>
        </div>

        <div class="form-group <% if @project.errors[:end_date].any? %>has-error<% end %>">
          <%= f.label :end_date, class: 'control-label' %>
          <%= f.date_field :end_date,
              class: 'form-control',
              required: true %>
          <%= tag.span @project.errors[:end_date].join("<br/>").html_safe,
              class: 'help-block' if @project.errors[:end_date].any? %>
        </div>
        <div id="errors" class="has-error">

        </div>
    </div>
    <div class="box-footer">
      <%= f.submit class: 'btn btn-primary btn-ok btn-lg pull-right' %>
    </div>
  </div>
<% end %>
