  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">New project</h4>
  </div>
  <div class="modal-body">
    <%= render 'form'%>
  </div>
