<tr id="project-<%= project.id %>">
  <td><%= project.id %></td>
  <td><%= project.name %></td>
  <td><%= project.kind %></td>
  <td><%= project.start_date.to_date %></td>
  <td><%= project.end_date.to_date %></td>
  <td>
    <%= link_to :tasks,
        project_tasks_path(project),
        class: 'btn-primary btn-sm' %>

    <%= link_to :comments,
        project_comments_path(project),
        class: 'btn-primary btn-sm' %>

    <%= link_to :edit,
        edit_project_path(project),
        class: 'btn-warning btn-sm',
        remote: true %>

    <%= link_to :delete,
        project,
        method: :delete,
        class: 'btn-danger btn-sm',
        remote: true,
        data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
