<% if @project.persisted? %>
  $("#projects").append("<%= j render @project %>");
  $('#modal').modal('toggle');
<% else %>
  $("#errors").html("<span class='help-block'>" + "<%= @project.errors.map {|e,m| e.to_s.humanize + ':' +  m }.join(' - ') %>"+ "</span>");
<% end %>
