<h1 class="page-header">
  My Projects
  <%= link_to 'New project',
      new_project_path,
      {class: 'btn btn-primary pull-right',
      remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %>
</h1>

<div class="box box-primary">
  <div class="box-body">
    <table class="table table-bordered" id="projects">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Kind</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Actions</th>
        </tr>

        <%= render @projects %>

    </table>
  </div>
</div>
