<% if @project.errors.any? %>
  $("#errors").html("<span class='help-block'>" + "<%= @project.errors.map {|e,m| e.to_s.humanize + ':' +  m }.join(' - ') %>"+ "</span>");
<% else %>
  $('#modal').modal('toggle');
  $("#project-<%= @project.id %>").replaceWith("<%= j render @project %>");
  $('#project-<%= @project.id %>').effect("highlight", {}, 1000);
<% end %>
