<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% sidebar_klass = user_signed_in? ? 'sidebar-collapse': 'layout-top-nav' %>
  <body class="sidebar-mini skin-blue <%= sidebar_klass %>" style="height: 100vh;">
    <div class="wrapper">
      <%= render 'navbar' if user_signed_in? %>
      <div class="content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

  <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

</html>
